.errors {
    font-family: monospace;
    color: red;
 }

 main div.switch, main p.errors {
    text-align: center;
 }

 @media screen and (max-width: 550px) {
    .main-div {
      width: 100%;
    }
    .auth-main {
       width: 90%;
    }
    section {
       font-size: 1.2rem;
    }
 }

 body {
   background-color: #E67B95; 
 }