@media screen and (max-width: 550px) {
    #home-logo-container {
        width: 90%;
    }
    #enter-app {
        margin-top: 10%;
        padding: 2%;
        width: 65%;
        font-size: 7pt;
    }
}
@media screen and (min-width: 551px) and (max-width: 750px) {
    #home-logo-container {
        width: 75%;
    }
    #enter-app {
        margin-top: 5%;
        padding: 1.5%;
        width: 40%;
        font-size: 9pt;
    }
}

@media screen and (min-width: 751px) {
    #home-logo-container {
        width: 80%;
    }
    #enter-app {
        margin-top: 5%;
        padding: 1.5%;
        width: 30%;
        font-size: 12pt;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E67B95; 
}

div.home-main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px double #2B73B9; 
}

#home-logo {
    width: 100%;
}

#enter-app {
    background-color: #F8D030;
    border: 5px solid rgb(43, 114, 185);
    border-radius: 3px;
}
a {
    text-decoration: none;
    color: black;
}
#enter-app:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 2px #00000078, 0 0 10px navy; 
}