@media screen and (max-width: 550px) {
    #pokemon-stats p, #user-pokemon-item h2 {
        margin: 2% 0;
    }

    #user-pokemon-item h2 {
        font-size: 1.3rem;
    }

    #user-pokemon-container {
        margin: 4% auto;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #user-pokemon-item {
        width: 90%;
        margin: 3%;
    }

    #user-image-container {
        width: 100%;
        margin: 0 auto;
    }
    #user-image-container img {
        width: 100%;
    }
    #get-new-pokemon {
        width: 30%;
        margin: 2%;
        padding: 2%;
    }

}

@media screen and (min-width: 551px) and (max-width: 750px) {
    #pokemon-stats p, #user-pokemon-item h2 {
        margin: 2% 0;
    }

    #user-pokemon-item h2 {
        font-size: 1.5rem;
    }

    #user-pokemon-container {
        margin: 1% auto;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #user-pokemon-item {
        width: 90%;
        margin: 2%;
    }

    #user-image-container {
        width: 90%;
        margin: 0 auto;
    }
    #user-image-container img {
        width: 100%;
    }
    #get-new-pokemon {
        width: 25%;
        margin: 2%;
        padding: 2%;
    }
}

@media screen and (min-width: 751px) {
    #pokemon-stats p, #user-pokemon-item h2 {
        margin: 1% 0;
    }

    #user-pokemon-item h2 {
        font-size: 1.5rem;
    }

    #user-pokemon-container {
        margin: 0 auto;
        width: 40%;
        max-height: 690px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #user-pokemon-item {
        width: 80%;
        margin: 1%;
    }

    #user-image-container {
        width: 80%;
        margin: 0 auto;
    }
    #user-image-container img {
        width: 100%;
    }
    #get-new-pokemon {
        width: 30%;
        min-width: 150px;
        margin: 1%;
        padding: 1%;
    }
}

#user-pokemon-item h2 {
    font-weight: bold;
}

#user-pokemon-container {
    background-color: lightblue;
    border: 5px dashed #E67B95;
    border-radius: 5px;
}